<% include _globals/header.html %>

<div id="sidebar">

  <div class="col-sm-6 col-sm-offset-3 text-center">
    <h3 class="text-muted">Loading</h3>
    <img src="/assets/img/ajax-loader-blue-on-white.gif" />
  </div>
  
</div>

<div id="map"></div>

<div id="map-controls">
  <button id="map-save-polygons-button" type="button" class="btn btn-white btn-sm" title="Draw A New Shape">
    <span class="glyphicon glyphicon-floppy-disk"></span>
  </button>
  <button id="map-draw-polygon-button" type="button" class="btn btn-white btn-sm" title="Draw A New Shape">
    <span class="glyphicon glyphicon-bookmark"></span>
  </button>
  <button id="map-edit-polygon-button" type="button" class="btn btn-white btn-sm" title="Edit Selected Shape">
    <span class="glyphicon glyphicon-pencil"></span>
  </button>
  <button id="map-delete-polygon-button" type="button" class="btn btn-white btn-sm" title="Delete Selected Shape">
    <span class="glyphicon glyphicon-remove"></span>
  </button>
</div>

<div class="modal fade" id="download-geojson-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Download GeoJSON</h4>
      </div>
      <div class="modal-body"><pre id="geojson-formatted"></pre></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<script id="place-details" type="text/html">
  <p class="text-right"><button id="save-place-details-button" class="btn btn-white">Save</button></p>
  {{>names-list}}
  {{>geo-list}}
</script>

<script id="names-list" type="text/html">
  <div class="panel panel-default">
    <div class="panel-heading"><h4>Names</h4></div>
    <ul class="list-group">
      {{#names}}{{>names-list-item}}{{/names}}
      <li id="new-name-list-item" class="list-group-item">
        <button id="new-name-button" class="btn btn-white btn-sm pull-right"><span class="glyphicon glyphicon-plus"></span> New Name</button>
      </li>
    </ul>
  </div>
</script>

<script id="names-list-item" type="text/html">
  <li class="names-list-item list-group-item form-horizontal">
    <div class="row form-group">
      <label class="col-sm-2 control-label">Name</label>
      <div class="col-sm-10">
        <input type="text" class="place-name-input form-control input-sm" placeholder="name" value="{{name}}">
      </div>
    </div>
    <div class="date-row row form-horizontal">
      <div class="col-sm-6">
        <div class="form-group">
          <label class="col-sm-4 control-label">From</label>
          <div class="col-sm-8">  
            <input value="{{from}}" type="text" class="date-from form-control input-sm" placeholder="yyyy-mm-dd" />
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label class="col-sm-4 control-label">To</label>
          <div class="col-sm-8">  
            <input value="{{to}}" type="text" class="date-to form-control input-sm" placeholder="yyyy-mm-dd" />
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="pull-right">
          <button type="button" class="delete-name-button btn btn-white btn-sm" title="Delete Name">
            <span class="glyphicon glyphicon-remove"></span> Delete
          </button>
        </div>
      </div>
    </div>
  </li>
</script>

<script id="geo-list" type="text/html">
  <div class="panel panel-default">
    <div class="panel-heading"><h4>Boundaries</h4></div>
    <ul class="list-group">
      {{#geojsons}}{{>geo-list-item}}{{/geojsons}}
      <li id="new-geo-list-item" class="list-group-item">
        <button id="new-geo-button" class="btn btn-white btn-sm pull-right"><span class="glyphicon glyphicon-plus"></span> New Boundary</button>
      </li>
    </ul>
  </div>
</script>

<script id="geo-list-item" type="text/html">
  <li class="geo-list-item list-group-item" id="geo-{{id}}" data-geo-id="{{id}}">   
    <div class="date-row row form-horizontal">
      <div class="col-sm-6">
        <div class="form-group">
          <label class="col-sm-4 control-label">From</label>
          <div class="col-sm-8">  
            <input value="{{from}}" type="text" class="date-from form-control input-sm" placeholder="yyyy-mm-dd" />
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label class="col-sm-4 control-label">To</label>
          <div class="col-sm-8">  
            <input value="{{to}}" type="text" class="date-to form-control input-sm" placeholder="yyyy-mm-dd" />
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="pull-right">
          <button type="button" class="download-geojson-button btn btn-white btn-sm">
            <span class="glyphicon glyphicon-cloud-download"></span> Download
          </button>
          <button type="button" class="view-boundary-button btn btn-white btn-sm">
            <span class="glyphicon glyphicon-map-marker"></span> View
          </button>
          <button type="button" class="delete-geo-button btn btn-white btn-sm">
            <span class="glyphicon glyphicon-remove"></span> Delete
          </button>
        </div>
      </div>
    </div>
  </li>
</script>

<script>
  var GOOGLE_API_KEY = "<%= google_key %>";
</script>

<% include _globals/js_footer.html %>