<% include _globals/header.html %>

<div id="sidebar">

  <div class="col-sm-6 col-sm-offset-3 text-center">
    <h3 class="text-muted">Loading</h3>
    <img src="/assets/img/ajax-loader-blue-on-white.gif" />
  </div>
  
</div>

<div id="map"></div>

<div id="map-controls">
  <button id="map-draw-polygon-button" type="bujtton" class="btn btn-white btn-sm" title="Draw A New Shape">
    <span class="glyphicon glyphicon-bookmark"></span>
  </button>
  <button id="map-edit-polygon-button" type="button" class="btn btn-white btn-sm" title="Edit Selected Shape">
    <span class="glyphicon glyphicon-edit"></span>
  </button>
  <button id="map-delete-polygon-button" type="button" class="btn btn-white btn-sm" title="Delete Selected Shape">
    <span class="glyphicon glyphicon-remove"></span>
  </button>
</div>

<script>
  var GOOGLE_API_KEY = "<%= google_key %>";
</script>

<% include _globals/js_footer.html %>