<% include _globals/header.html %>

<div class="container">
  <div class="jumbotron" id="home-jumbo">
    <h1>Open Place Database</h1>
    <p>A historical catalog of place and boundary changes over time.</p>
    <p><a class="btn btn-primary btn-lg" href="/contribute">Contribute</a></p>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Download - Coming Soon</h3>
        </div>
        <div class="panel-body home-panel">
          <p>Download a snapshot of our data. Updated on a weekly basis!</p>
          <p><a class="btn btn-primary" href="/download">Download</a></p>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Host</h3>
        </div>
        <div class="panel-body home-panel">
          <p>Follow the installation instructions to install your own copy of the Open Place Database.</p>
          <p><a class="btn btn-primary" href="https://github.com/openplacedatabase/www#installation">Install</a></p>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Github</h3>
        </div>
        <div class="panel-body home-panel">
          <p>Feel free to contribute to our project by clicking here.</p>
          <p><a class="btn btn-primary" href="https://github.com/openplacedatabase">View</a></p>
        </div>
      </div>
    </div>
  </div>
</div>

<% include _globals/footer.html %>