<% include _globals/header.html %>

<div id="sidebar">

  <div role="form">
    <div class="input-group">
      <input type="text" class="form-control" id="search-input" placeholder="Search">
      <span class="input-group-btn">
        <button id="search-button" class="btn btn-primary" type="button">Search</button>
      </span>
    </div>
  </div>
  
  <div id="search-results"></div>
  
  <div id="load-bar"></div>
</div>

<div id="map"></div>

<button id="new-place-button" class="btn btn-white">New Place</button>

<script>
  var GOOGLE_API_KEY = "<%= google_key %>";
  var editing = <%= editing %>;
</script>

<% include _globals/js_footer.html %>