<% include ../_globals/header.html %>

<div class="container">
  <div class="jumbotron">
    <h1>Thank you!</h1>
    <p>Here is what you can do to help.</p>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Edit</h3>
        </div>
        <div class="panel-body home-panel">
          <p>First, go take a look at the map. If there is something that needs to be added to an existing place, go ahead and click edit. If something is missing, just click the &ldquo;Add&rdquo; button at the bottom left.</p>
          <p><a class="btn btn-primary" href="/map">View the Map</a></p>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Import</h3>
        </div>
        <div class="panel-body home-panel">
          <p>We need your data. If you have data that can be licensed under the ODbl, click below and follow the instructions to get it imported.</p>
          <p><a class="btn btn-primary" href="https://github.com/openplacedatabase/utils#import-data">About Importing Data</a></p>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Code</h3>
        </div>
        <div class="panel-body home-panel">
          <p>Everything you see here is open source. Feel like contributing? Head on over to Github.</p>
          <p><a class="btn btn-primary" href="https://github.com/openplacedatabase/www">Go to Github</a></p>
        </div>
      </div>
    </div>
  </div>
</div>

<% include ../_globals/footer.html %>