.navbar .container {
  margin: 0;
}

#content {
  position: absolute;
  top: 52px;
  bottom: 0;
  left: 0;
  right: 0;
}

#sidebar {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 500px;
  padding: 10px 5px;
  overflow: auto;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 500px;
  right: 0;
}

#map-controls {
  position: absolute;
  left: 500px;
  top: 0px;
  padding: 5px;
}

#sidebar .list-group-item {
  overflow: auto;
}

#sidebar .form-horizontal .control-label {
  padding-top: 4px;
}

.map-message {
  position: absolute;
  left: 175px;
  top: 5px;
}

#upload-text {
  width: 100%;
  height: 300px;
}