#content {
  position: absolute;
  top: 52px;
  bottom: 0;
  left: 0;
  right: 0;
}

#sidebar {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 350px;
  padding: 10px 5px;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 350px;
  right: 0;
}

#load-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  background-color: #6d94bf;
}

#search-results {
  margin-top: 10px;
  position: absolute;
  bottom: 0;
  top: 45px;
  right: 0px;
  left: 5px;
  overflow: auto;
}

#search-results .panel {
  margin-bottom: 10px;
  margin-right: 5px;
}

#search-results .panel-body {
  padding: 15px 0;
}

#search-results .panel-body .col-sm-4 {
  padding: 0 10px;
  text-align: center;
}

.result-name:not(:first-child) {
  margin-top: 10px;
}

.btn-col {
  margin: 5px 0;
}