.btn-white {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
  background-image: -webkit-linear-gradient(#ffffff, #eeeeee 50%, #e4e4e4);
  background-image: linear-gradient(#ffffff, #eeeeee 50%, #e4e4e4);
  background-repeat: no-repeat;
  border: 1px solid #d5d5d5;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe4e4e4', GradientType=0);
  filter: none;
}

.btn-white, 
.btn-white:hover, 
.btn-white:active, 
.btn-white:focus, 
.btn-white:visited {
  color: #333;
}

.home-panel {
  min-height: 150px;
}